<!DOCTYPE html>
<html lang="en" ng-app="GlobalModule">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/Angular")
    <script src="~/Scripts/Custom/ui-bootstrap-tpls-0.12.0.min.js"></script>
    @Scripts.Render("~/bundles/Custom")

    @RenderSection("scripts", required: false)
</head>
<body>
    <nav class="navbar navbar-inverse navbar-static-top ">
        <div class="container">
            <div class="pull-left">
                    <a class="navbar-brand" href="#">B2B System</a>
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Quote")</li>
                        <li>@Html.ActionLink("Mua hàng", "DatHang", "MuaHang")</li>
                        <li>@Html.ActionLink("Hàng hóa", "Index", "QuanlyHanghoa")</li>
                    </ul>
            </div>
            @Html.Partial("_LoginPartial")
        </div>
    </nav>
    <div class="container-fluid">
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>

    @*<footer class="navbar navbar-inverse navbar-fixed-bottom">

        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand">&copy; @DateTime.Now.Year - B2B System</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-right">
                    <li class="navbar-brand"><img src="~/Images/accent.png" /></li>
                </ul>
            </div>
        </div>
    </footer>*@

</body>
</html>
