@*@if (Request.IsAuthenticated)
    {
        <text>
            Hello, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
            {
                @Html.AntiForgeryToken()
                <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            }
        </text>
    }
    else
    {*@
<div class=" pull-right">
    <ul class="nav navbar-nav">

        @if (!string.IsNullOrWhiteSpace(Session["accountId"] + ""))
        {

            if ((Session["TypeAccount"] as string) != "Admin")
            {
                <li>@Html.ActionLink(" Lịch sử mua hàng", "Index", "Donhang", null, new { @class = "fa fa-shopping-cart" })</li>
                <li>@Html.ActionLink((string)Session["accountName"], "SuaTaikhoan", "Taikhoan", null, new { @class = "fa fa-pencil-square-o" })</li>
            }
            <li>@Html.ActionLink(" Đăng xuất", "Dangxuat", "Taikhoan", null, new { @class = "fa fa-sign-out" })</li>
        }
        else
        {
            <li>@Html.ActionLink(" Đăng ký", "Dangky", "Taikhoan", null, new { @class = "fa fa-pencil-square" })</li>
            @*<li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>*@
            <li>@Html.ActionLink(" Đăng nhập", "Dangnhap", "Taikhoan", null, new { @class = "fa fa-sign-in" })</li>
        }
    </ul>
</div>
@*}*@
