@*@if (Request.IsAuthenticated)
{
    <text>
        Hello, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        }
    </text>
}
else
{*@
<div class=" pull-right">
    <ul class="nav navbar-nav">
        @if (!string.IsNullOrWhiteSpace(Session["accountId"] + ""))
        {
            <li>@Html.ActionLink((string)Session["accountName"], "SuaTaikhoan", "Taikhoan")</li>
            <li>@Html.ActionLink("Đăng xuất", "Dangxuat", "Taikhoan")</li>
        }
        else
        {
            <li>@Html.ActionLink("Đăng ký", "Dangky", "Taikhoan")</li>
            @*<li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>*@
            <li>@Html.ActionLink("Đăng nhập", "Dangnhap", "Taikhoan")</li>
        }
    </ul>
</div>
@*}*@
